.pitch-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pitch {
  height: calc(100% - var(--WEBSITE_BORDER_SPACING));
  aspect-ratio: 65/105;
  position: relative;
  overflow: visible;
  top: 50%;
  transform: translate(0, -50%);
}

.pitch-outer-lines {
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 3px;
}

.pitch-background {
  background-color: var(--BACKGROUND);
}

.pitch-top-side {
  width: calc(100% - 6px);
  height: calc(100% - 3px);
  margin-top: 3px;
  margin-left: 3px;
  position: relative;
}

.pitch-bottom-side {
  width: calc(100% - 6px);
  height: calc(100% - 3px);
  margin-bottom: 3px;
  margin-left: 3px;
  position: relative;
}

.pitch-center-circle {
  width: calc(100% * (10/105) * 2);
  aspect-ratio: 1;
  border: solid white;
  border-radius: 100%;
  border-width: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
}

.pitch-18yd-box {
  position: absolute;
  height: calc(2 * 100% * (17/105));
  aspect-ratio: 40/17;
  border: solid white;
  border-width: 3px;
  display: flex;
  justify-content: center;
}

.pitch-6yd-box {
  position: absolute;
  height: calc(100% * (6/17));
  aspect-ratio: 19/6;
  border: solid white;
  border-width: 3px;
}

.pitch-top-18yd {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -3px);
}

.pitch-bottom-18yd {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -98%);
}

.pitch-top-6yd {
  transform: translateY(-3px);
}

.pitch-bottom-6yd {
  position: absolute;
  top: 100%;
  transform: translateY(-98%);
}

.pitch-penalty-spot {
  position: absolute;
  width: calc(100% * (2/105));
  aspect-ratio: 1;
  background-color: white;
  border-radius: 100%;
}

.pitch-top-spot {
  top: calc(100% * 11/16);
}

.pitch-bottom-spot {
  top: calc(100% * 5/16);
}
